#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
    color: white;
    font-family: 'Waiting for the Sunrise', cursive;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    color: white;
    font-family: 'Waiting for the Sunrise', cursive;
}

    .high-score:hover {
        transform: scale(1.025);
    }
